<!DOCTYPE html>

<html lang="ko">
    <head>
        <meta charset="uft-8">
        <title>ZOOMEET-CHU</title>

        <style>
            /* 글씨체 import하기 */
            @import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
        </style>

        <!-- css file 연동하기 -->
        <link rel="stylesheet" href="static/css/style01.css">
        
        <div class="header" id="about_main">
            <div class="main_location">
                <a onclick="location.href='project01.html'"><img src="static/images/title0.png" alt="메인화면으로 이동" width="200"></a>
            </div>
        </div>
    </head>
    <body>
        <div class="input_about">
            <h2>무슨 이야기를 써야하지 만든 사람에 관해서임</h2>
        </div>
    </body>
</html>