<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>ZOOMEET-CHU</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="static/css/loading.css">
    <style>
        /* 글씨체 import하기 */
        @import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
    </style>
    
    
</head>
<body>
    <div class="container">
    <div class="backgroundbox"></div>
        <div class="container1">
            <div id="box">
            <div id = "middlebox">
                <div class="loading">
                    <a href="/project05_02" class="global-nav-item"><div class ="button">
                        <div class ="wave">
                    <h2 id = "p">시작하기</h2>
                </a>
                    <i class ="fa fa-wifi"></i>
                    </div>
                    

                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    
                    
                            <p><br>잠시만 기다려주세요</p>
                            

                </div>
                
                </div> 
            </div>
        </div>
        </div>



</body>
</html>