<!DOCTYPE html>

<html lang="ko">
    <head>
        <meta charset="uft-8">
        <title>ZOOMEET-CHU</title>
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <style>
            /* 글씨체 import하기 */
            @import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
        </style>
        <link rel="stylesheet" href="../static/css/project04_02.css">
        <!-- 상단 about botton과 main page 이동 -->
        <div class="header">
            <div class="main_location">
                <a onclick="location.href='/'">
                    <img src="../static/images/home_img/title2.png" alt="메인화면으로 이동" width="200">
                </a>
            </div>
            <!-- <button type="button" class="about_btn" onclick="location.href='/about'">ABOUT</button> -->
        </div>
    </head>
    <body>
        <h2>(2) 원하는 카툰 형식의 이미지를 클릭해주세요.</h2>
        <div class="container" >
            
            
            <!-- value를 각 다르게 지정함! -->
            <form action="/loading_02" method="POST">
                <input type="hidden" name="style" value="Hosoda">
                <input class="img_gan_input" type="image" src="../static/images/gan_img/Hosoda.png" alt="버튼">                
            </form>

            <form action="/loading_02" method="POST">
                <input type="hidden" name="style" value="Shinkai">
                <input class="img_gan_input" type="image" src="../static/images/gan_img/Shinkai.png" alt="버튼">                
            </form>

            <form action="/loading_02" method="POST">
                <input type="hidden" name="style" value="Hayao">
                <input class="img_gan_input" type="image" src="../static/images/gan_img/Hayao.png" alt="버튼">                
            </form>
            <!--
            <input class="img_gan_input" type="image" src="static/images/gan_img/Hosoda.png" value="gan1" onclick="location.href='/loading_02'" ></input>
            <input class="img_gan_input" type="image" src="static/images/gan_img/Shinkai.png" value="gan2" onclick="location.href='/loading_02'"></input>
            <input class="img_gan_input" type="image" src="static/images/gan_img/Hayao.png" value="gan3" onclick="location.href='/loading_02'"></input>
            -->
        </div>

    </body>
    
</html>