<!DOCTYPE html>

<html lang="ko">
    <head>
        <meta charset="uft-8">
        <title>ZOOMEET-CHU</title>
        <style>
            /* 글씨체 import하기 */
            @import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
        </style>
        <link rel="stylesheet" href="../static/css/project01.css">
        <!-- 상단 about botton -->
        <!-- <div class="header" id="main_about">
            <button type="button" class="about_btn" onclick="location.href='/about'">ABOUT</button>
        </div> -->
    </head>

    <body>
        <div class="container">
            <div class="title">
            <!-- 상단의 title -->
                <img src="../static/images/home_img/title2.png" alt="ZOOMEET-CHU" width="600">
                <h1>ZOOM에서 MEET을 CHU구</h1>
            </div>
            <!-- 동작하는 중앙 이미지 -->
            <div class="main">
                <img src="../static/images/home_img/main.gif" alt="main image" width="700">
            </div>
            <h2>먼저 ZOOM이나 MEET에서 캡처한 단체사진을 준비해주세요.<br>준비되었다면?</h2>
        </div>
        <!-- 시작 버튼 생성 - 다음 페이지로 이동 -->
        <button type="button" class="start" onclick="location.href='project02.html'">S T A R T</button>
    </body>
</html>